<div class="row mobile">
  <div class="row text-passenger">
    <div class="col">
      <div class="row icon-elem">
        <img src="../../assets/bruce-mars.png" class="icon" alt="Icon img" />
        <div class="col icon-text">
          <p>
            <strong>{{ name }}</strong>
          </p>
          <p>{{ interactions }}</p>
        </div>
      </div>
      <span>Email</span>
      <p>{{ email }}</p>
      <span>Phone</span>
      <p>+{{ phone }}</p>
      <span>Location</span>
      <p>{{ location }}</p>
    </div>
  </div>
  <div class="col pay-section">
    <div class="hover">
      <img src="../../assets/paypal.png" alt="paypal logo" />
      <div class="overlay"></div>
    </div>
    <div class="hover">
      <img src="../../assets/mastercard.png" alt="mastercard logo" />
    </div>
  </div>
  <div class="col pay-section">
    <div class="hover"><img src="../../assets/visa.png" alt="visa logo" /></div>
    <div class="hover">
      <img src="../../assets/apple.png" alt="apple logo" />
    </div>
  </div>
</div>
