@font-face{
    font-family: Roboto;
    src: url('../assets/Roboto/Roboto-Regular.ttf') format("opentype");
}
*{
    font-family: 'Roboto', sans-serif;
    font-size: 2vh;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15vh;
    height: 50vh;
}
.col{
    display: flex;
    flex-direction: column;
}
$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet) {
  .mobile {
    margin-top: 2vh;
  }
}